apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-deployment
  labels:
    app: account-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: account-service
  template:
    metadata:
      labels:
        app: account-service
    spec:
      containers:
      - name: account-service
        image: sudhir/account-service:latest
        ports:
        - containerPort: 5002
        env:
        - name: SERVICE_NAME
          value: "account-service"
