apiVersion: apps/v1
kind: Deployment
metadata:
  name: customer-deployment
  labels:
    app: customer-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: customer-service
  template:
    metadata:
      labels:
        app: customer-service
    spec:
      containers:
      - name: customer-service
        image: sudhir/customer-service:latest
        ports:
        - containerPort: 5001
        env:
        - name: SERVICE_NAME
          value: "customer-service"
